*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.enter__page{
    width: 100%;
    height: 100vh;
    position: absolute;
    inset: 0;
    background: white;
    display: none;

}
.username__input__content{
    width: 500px;
    display: grid;
    grid-template-columns: 6fr 6fr ;
    
}
.center{

    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.start__button,.fire__button{
    padding: 8px 12px ;
}
.game_area_user{
    width: 500px;
    display: grid;
    grid-template-columns: 6fr 6fr ;
    margin-bottom: 20px;
}
.game__page{
    width: 100%;
    height: 100vh;
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white; 

}